{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <header>
        <h1>Quizz Land</h1>
        <nav>
            <ul>
                <li><a href="{{ path('accueil') }}">Home</a></li>
                <li><a href="{{ path('app_categorie_index') }}">Quizz</a></li>
                <li><a href="{{ path('app_user_show', { 'id' : app.user.id }) }}">Profil</a></li>
            </ul>
        </nav>
    </header>
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
