
{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Quizz Land</h1>
        <nav>
            <ul>
                <li><a href="{{ path('accueil') }}">Home</a></li>
                <li><a href="{{ path('app_categorie_index') }}">Quizz</a></li>
                <li><a href="{{ path('app_user_show', { 'id' : app.user.id }) }}">Profil</a></li>
            </ul>
        </nav>
    </header>
    <h1>Résultats du Quiz</h1>
    <p>Vous avez obtenu un score de {{ score }} sur {{ total }}</p>
    <a href="{{ path('app_quizz', {'id': id}) }}">Rejouer</a>
{% endblock %}
